@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

/* Variables globales */
:root {
  --body-color: #f1f1f1;
  --header-color: #e30117;
  --principal-text-color: #212121;
  --secondaire-text-color: #6d4c41;
  --boutton-color: #fbc02d;
  --nav-a-color: #212121;
  --boutton-secondaire-color: #f9a825;
  --height-header: 50px;
  --nav-height: 50px;
}

/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  color: var(--principal-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  line-height: 1.6;
  overflow-x: hidden;
}

/* HEADER */
header {
  background-color: var(--header-color);
  color: #fff;
  height: var(--height-header);
  width: 80%;
  border-radius: 0 0 50px 0;
  box-shadow: 0px 0px 5px #000;
  position: relative;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    user-select: none;
  }
}

header nav a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  padding: 10px;
}

header nav a:hover {
  background: var(--boutton-color);
  border-radius: 5px;
  user-select: none;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: var(--height-header);
  font-family: "Chewy", cursive;
}

/* NAVIGATION */
nav {
  background: #ffffffc9;
  height: var(--nav-height);
  padding: 10px;
  position: sticky;
  top: 0;
  width: 20%;
  text-align: center;
  z-index: 1000;
  border-radius: 0 0 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nav--cta_disposition {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 30px;
}

.nav--cta_disposition a {
  text-decoration: none;
  font-weight: 500;
  color: var(--nav-a-color);
  text-transform: uppercase;
  padding: 13.5px;
  font-size: 0.9em;
}

.nav--cta_disposition a:hover {
  background: var(--boutton-secondaire-color);
  color: #fff;
}

/* HEADER + NAV WRAPPER */
.all-header {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999999;
}

.header--content {
  display: flex;
  align-items: center;
  height: var(--height-header);
  margin-inline: 20px;
}

/* BOUTON COMMANDER */
.commander-button {
  background: var(--header-color);
  color: #fff !important;
}

.commander-button:hover {
  opacity: 0.6;
}

/* SECTION ACCUEIL */
#big--home_section {
  background: url(../../assets/images/bigbackground.png) top / cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#big--home_section > .big--home_filtre {
  background: #ffffffb8;
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.big--home_filtre h1 {
  font-family: "Chewy", cursive;
  color: var(--principal-text-color);
  font-size: 2rem;
  user-select: none;
}

.big--home_filtre h2 {
  font-size: 1rem;
  margin-top: 20px;
  color: var(--principal-text-color);
}

.big--home_textdisposition {
  margin-top: 60px;
  width: 100%;
}

.big--home_textdisposition_second {
  margin-top: 110px;
  width: 100%;
  display: none;
}

.big--home_textdisposition button {
  background: var(--header-color);
  padding: 10px 60px;
  border: none;
  border-radius: 3px;
  position: relative;
  top: 70px;
  font-family: "Chewy", cursive;
  font-weight: 500;
  color: #fff;
  letter-spacing: -1px;
  font-size: 1.5em;
  transition: 0.2s ease;
  animation: topBottom 0.5s alternate infinite;
  box-shadow: 0 2px 4px #00000033;
}

.big--home_textdisposition button:hover {
  opacity: 0.5;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  margin-top: 29px;
  animation-play-state: paused;
}

/* BURGER ICON */
.icon-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0 0 5px;
  font-size: 1.7em;
}

.icon-burger:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* SECTION NOS RESTAURANTS */
#nos-restaurants_section {
  background: url(../../assets/images/noustrouver.png) center / contain
    no-repeat;
  width: 100%;
  height: 100vh;
}

.jecommande {
  background: url(../../assets/images/jecommande.png);
  width: 200px;
  height: 200px;
  background-size: 45%;
  background-position: bottom right;
  background-repeat: no-repeat;
  right: 0;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.container--menus {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  margin-inline: 50px;
}

.menus {
  background: #fff;
  width: 100%;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  overflow: hidden;
}

.menus:hover {
  opacity: 0.7 !important;
  transform: scale(1.04) !important;
  cursor: pointer;
}
#nos-restaurants_section h2 {
  margin: 50px;
  font-weight: bold;
  font-family: "Chewy", cursive;
  color: var(--principal-text-color);
  font-size: 1.4em;
}

.decalage-gauche {
  transform: translateX(-30vw);
  transition: all 0.5s;
}

#modalcommande {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

#modalcommande--droite {
  background: #fff;
  width: 30vw;
  height: 100%;
  position: fixed;
  right: -30vw;
  top: 0;
  padding: 10px;
  z-index: 99999;
}

#modalcommande-close {
  float: right;
  color: #fff;
  font-size: 2em;
}

.menus--image {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.menus--title {
  font-size: 1.3em;
  color: var(--secondaire-text-color);
  display: flex;
  padding: 0px 20px;
  justify-content: space-evenly;
  margin-top: 15px;
}

.menus--prix {
  color: #000;
  font-weight: bold;
  font-size: 0.9em;
}

.hidden {
  display: none;
}

.modal-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: var(--header-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#home,
#order,
#searchresto,
#detail-menu,
#nosproduits,
#produit-categorie {
  margin-top: 50px;
}

#detail-menu {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.container-menu {
  padding-top: 100px;
}

.container-deux {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-image {
  width: 100%;
  height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px;
  align-self: start;
  &:hover {
    opacity: 0.7;
  }
}

.menu-detail {
  width: 100%;
  padding: 0px 50px;
  border-radius: 10px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  align-self: start;
}

.menu-detail > h1 {
  color: var(--secondaire-text-color);
  margin-bottom: 20px;
}

.retourner-arriere {
  font-size: 3em;
  color: var(--header-color);
  &:hover {
    cursor: pointer;
    opacity: 0.6;
    display: inline;
  }
}

.alerte-erreur {
  color: rgba(255, 0, 0, 0.5); /* Rouge transparent à 50% */
  background-color: rgba(255, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  margin-top: 100px;
}

.btn-ajouterpanier {
  background: var(--header-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  float: right;
  padding: 8px;
  text-transform: uppercase;
  width: 200px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0px 0px 0.5px #000;
  box-shadow: 0 2px 0 1px rgba(255, 0, 0, 0.5);
  margin-bottom: 20px;
  &:hover {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.5);
  }
}

.banniere-nosproduits {
  background: url(/../../assets/images/nosproduits.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.container-categorie {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  margin-inline: 15px;
}

.categorie {
  background: #fff;
  box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 3px 3px;
  overflow: hidden;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 0.7 !important;
    transition: all 0.2s !important;
    transform: scale(1.03) !important;
  }
}

.categorie-image {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.categorie-title {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  display: grid;
  place-items: center;
}

.categorie-total-produits {
  background: var(--header-color);
  height: 40px;
  padding: 6px 15px;
  color: #fff;
  text-align: center;
  font-family: "Chewy", cursive;
  position: absolute;
  border-radius: 0px 10px 0px 0px;
  left: 0;
  bottom: 0;
}

.banniere_toutproduit {
  background: url(../../assets/images/fastfood.png);
  width: 100%;
  height: 100px;
  background-size: 100%;
  background-position: center -420px;
}

.navigation-categorie {
  background: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.navigation-container {
  overflow-x: scroll !important;
}

.navigation-categorie ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap !important;
  flex-direction: row;
  white-space: nowrap;
}

.navigation-categorie ul li {
  list-style-type: none;
  color: var(--header-color);
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
  &:hover {
    background: #ecf0f1;
    height: 50px;
    padding: 0px 10px;
  }
}

.navigation-categorie ul a {
  text-decoration: none;
}

.produit-container {
  display: flex;
  margin-inline: 10px;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.produit-detail {
  background: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  &:hover {
    background: #ecf0f1;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.04);
  }
}

.selected-categorie {
  background: var(--header-color);
  color: #fff !important;
}

@media (min-width: 760px) {
  .produit-detail {
    width: 150px;
  }

  .produit-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    flex-wrap: wrap;
  }
}

/* RESPONSIVE DESIGN */
@media (min-width: 980px) {
  header {
    width: 40%;
  }

  .banniere_toutproduit {
    height: 200px;
  }

  .categorie {
    background: #fff;
    height: 400px;
    box-shadow: 0 2px 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 3px 3px;
    overflow: hidden;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.7 !important;
      transition: all 0.2s !important;
      transform: scale(1.03) !important;
    }
  }

  .container-categorie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 10px;
  }

  nav {
    width: 100%;
  }

  .menu-image {
    background-position: center;
  }

  .container-menu {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-top: 100px;
  }

  .container-deux {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
  }

  #nos-restaurants_section h2 {
    margin: 50px;
    font-weight: 500;
    color: var(--principal-text-color);
    font-size: 2em;
  }

  .container--menus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 40px;
    margin-inline: 50px;
  }

  .icon-burger {
    display: none;
  }

  .nav--cta_disposition {
    display: flex;
    font-size: 0.88em;
    justify-content: space-around;
  }

  .big--home_filtre h1 {
    font-size: 3rem;
    font-weight: 500;
  }
  .big--home_textdisposition button {
    width: 30%;
  }

  .big--home_textdisposition button:hover {
    width: 40%;
  }

  .jecommande {
    background-size: 63%;
  }
}

@media (min-width: 1200px) {
  .nav--cta_disposition {
    font-size: 0.9em;
  }

  .container-categorie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 10px;
  }

  .big--home_filtre h1 {
    font-size: 4rem;
    font-weight: 500;
  }
  .container--menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 40px;
    margin-inline: 50px;
  }
}

@media (min-width: 1400px) {
  .nav--cta_disposition {
    font-size: 1em;
  }

  .big--home_filtre h1 {
    font-size: 6rem;
  }

  .big--home_filtre h2 {
    font-size: 1rem;
  }
}

@keyframes topBottom {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 27px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
